
@model CompteListViewModel

    @{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

    @foreach (var c in Model.Comptes)
    {
        <div class="card card-outline-primary m-1 p-1">
            <div class="bg-faded p-1">
                <h4>@c.ToString()</h4>
                            </div>
            <div class="card-text p-1">
                @c.Nom
                <div>
                    <a class="btn btn-primary"
                       asp-action="Edit"
                       asp-route-id="@c.Id"
                       asp-controller="compte"
                       asp-route-category="">
                        update
                    </a>
                    
                    <a class="btn btn-danger"
                       asp-for="@c.Id"
                       asp-action="delete"
                       asp-controller="compte"
                       asp-route-id="@c.Id"
                       asp-route-category="">
                        delete
                    </a>
                </div>
            </div>
        </div>
    }
        <div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
             page-class="btn" page-class-normal="btn-secondary"
             page-class-selected="btn-primary" class="btn-group pull-right m-1">
        </div>

<div>
    <a class="btn"
       asp-action="Create"
       asp-controller="Compte"
       asp-route-category="">
        Create new account
    </a>
</div>